select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    padding: 4px 6px;
}

.sectionAddAction button {
    margin-top: 8px;
}

.results {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    margin-bottom: 20px;
}

.results>div {
    display: flex;
    flex-direction: row;
    transition: .2s;
    cursor: pointer;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s
}

.results>div:hover {
    background-color: #d0d4dd!important;
}

.results>div.entetes:hover {
    background-color: #fff!important;
}

.results>div>div {
    box-sizing: border-box;
    background: inherit;
    border-bottom: 1px solid #e8e8e8;
    flex-shrink: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 4px;
    line-height: 25px
}

.results>div.entetes>div {
    text-align: left;
    padding: 0 4px;
    line-height: 26px;
    font-weight: 700;
    height: 26px;
    cursor: pointer;
    position: relative
}

.results>div.entetes>div.hoverAction:hover {
    background-color: #d0d4dd
}

.results>div.entetes>div i {
    position: absolute;
    top: 2px;
    right: 0
}