.container{
    display: flex;
    flex-direction: column;
}

.results{
    display: flex;
    flex-direction: column;
}

.ligne{
    display: flex;
    flex-direction: row;
}

.prix{
    width: 80px;
    flex-grow: 1;
}

.categorie{
    width: 120px;
    flex-grow: 1;
}

.commentaire{
    width: 80px;
    flex-grow: 1;
}

.date{
    width: 80px;
    flex-grow: 1;
}