.container{
    display: flex;
    flex-direction: column;
}

.ligne{
    display: flex;
    flex-direction: row;
}

.intitule{
    width: 80px;
    min-width: 80px;
    flex-basis: 80px;
    flex-grow: 1;
}

.description{
    width: 120px;
    min-width: 120px;
    flex-basis: 120px;
    flex-grow: 3;
}

.action{
    width: 50px;
    min-width: 50px;
    flex-basis: 50px;
}

.action button{
    margin: 3px;
}